# 여러 달 불러오는 코드 샘플
data = []
year = 2020
month = 1

while True:
    print(year, month)
    if (year == 2023) and (month == 7):
        break
        
    YMD = str(year) + str(month).zfill(2)
    pageNo = 1
    while True:
        params = {'ServiceKey' : my_key, 'pageNo' : str(pageNo), 'numOfRows' : '10', 'LAWD_CD' : '11440', 'DEAL_YMD' : YMD}
        response = requests.get(url, params = params)
        soup = BS(response.text, 'xml')
        if len(soup.find_all('item')) == 0:
            break
            
        for item in soup.find_all('item'):
            record = []
            record.append(item.find('거래금액').text)
            record.append(item.find('아파트').text)
            record.append(item.find('년').text)
            record.append(item.find('월').text)
            record.append(item.find('전용면적').text)
        
            data.append(record)
        pageNo += 1
    
    if month == 12:
        year += 1
        month = 1
    
    else:
        month += 1

In [1]:
# 모듈 불러오기
import PublicDataReader as pdr
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
from datetime import datetime

In [2]:
# 법정동 코드 
lawd_cd = pdr.code_bdong()

# 서울특별시만 추출r
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
from datetime import datetime
lawd_cd_seoul = lawd_cd[lawd_cd['시도명'] == '서울특별시']

# 서울특별시 내 법정동코드 추출
lawd_cd_seoul_list = lawd_cd_seoul['법정동코드'].str[:5].unique()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2023. 7. 3. 시행)

In [3]:
# url 및 인증키
url = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev'
my_key = 'llq52qzkz50yrlY5SsJxmKw7Zg4caD1W/JKpE3NRt9H0vVFY2estk8VXb6dduPvSbsOpVqyZeuWqAmW5jGJl4A=='

In [4]:
# 연월 구하기
now = datetime.now()
YMD = now.strftime('%Y%m')

In [5]:
YMD = '202308'

In [6]:
data = []
pageNo = 1

for lawd_cd in lawd_cd_seoul_list:
    while True:
        params = {'ServiceKey' : my_key, 'pageNo' : str(pageNo), 'numOfRows' : '10', 'LAWD_CD' : lawd_cd, 'DEAL_YMD' : YMD}
        response = requests.get(url, params = params)
        soup = BS(response.text, 'xml')
        
        if len(soup.find_all('item')) == 0:
            break
            
        for item in soup.find_all('item'):
            record = []
            record.append(item.find('거래금액').text)
            record.append(item.find('건축년도').text)
            record.append(item.find('년').text)
            record.append(item.find('법정동').text)
            record.append(item.find('법정동시군구코드').text)
            record.append(item.find('아파트').text)
            record.append(item.find('월').text)
            record.append(item.find('일').text)
            record.append(item.find('전용면적').text)
            record.append(item.find('층').text)
            record.append(item.find('해제여부').text)
            record.append(item.find('거래유형').text)
            record.append(item.find('등기일자').text)
            data.append(record)
        pageNo += 1

In [7]:
data = pd.DataFrame(data, columns = ['거래금액', '건축년도', '년', '법정동', '법정동시군구코드', '아파트', '월', '일', '전용면적', '층', '해제여부', '거래유형', '등기일자'])

In [8]:
data['거래금액'] = data['거래금액'].str.lstrip().str.replace(',','').astype(int)
data[['년', '월', '일']] = data[['년','월', '일']].astype(int)
data['전용면적'] = data['전용면적'].astype(float)

In [9]:
data['평수'] = round(data['전용면적'] / 3.305,0)

In [10]:
data['평당가'] = round(data['거래금액'] / data['평수'],0)

In [11]:
# 데이터 제외

# 1. 해제된 실거래가 정보 제외
data = data[data['해제여부'] != 'O']

# 2. 등기일자가 등록되지 않은 실거래가 정보 제외
data = data[data['등기일자'] != ' ']

In [18]:
data

,거래금액,건축년도,년,법정동,법정동시군구코드,아파트,월,일,전용면적,층,해제여부,거래유형,등기일자,평수,평당가
7,14500,2014,2023,숭인동,11110,삼전솔하임4차,8,12,15.0900,17,,중개거래,23.08.14,5.0,2900.0
12,185000,2017,2023,평동,11110,경희궁자이(3단지),8,16,84.8359,4,,중개거래,23.08.29,26.0,7115.0
32,18000,2016,2023,신당동,11140,신당역솔하임,8,29,14.0800,17,,중개거래,23.08.29,4.0,4500.0
34,161000,2014,2023,흥인동,11140,청계천두산위브더제니스,8,7,147.3212,29,,중개거래,23.08.14,45.0,3578.0
43,149800,2017,2023,만리동2가,11140,서울역센트럴자이,8,25,84.9720,7,,중개거래,23.08.31,26.0,5762.0
68,148000,2012,2023,금호동2가,11200,금호자이1차,8,2,84.9800,10,,직거래,23.08.03,26.0,5692.0
79,94000,1994,2023,금호동3가,11200,두산,8,15,79.0800,8,,중개거래,23.08.25,24.0,3917.0
82,115000,2012,2023,금호동3가,11200,금호자이2차,8,24,84.9796,5,,직거래,23.08.28,26.0,4423.0
106,159000,2000,2023,성수동1가,11200,서울숲대림,8,4,84.0150,11,,중개거래,23.08.28,25.0,6360.0
109,382000,2017,2023,성수동1가,11200,트리마제,8,10,84.8213,35,,중개거래,23.08.10,26.0,14692.0
123,315000,2009,2023,성수동2가,11200,힐스테이트,8,4,143.0000,21,,중개거래,23.08.18,43.0,7326.0
130,82700,2022,2023,장위동,11290,꿈의숲아이파크,8,9,59.4900,24,,중개거래,23.08.28,18.0,4594.0
135,99400,2020,2023,장위동,11290,래미안장위퍼스트하이,8,12,84.9400,12,,중개거래,23.08.30,26.0,3823.0
153,85500,1998,2023,석관동,11290,두산,8,18,134.9700,23,,중개거래,23.08.21,41.0,2085.0
191,38500,1988,2023,상계동,11350,상계주공12(고층),8,26,41.3000,15,,중개거래,23.09.06,12.0,3208.0
212,72000,1995,2023,중계동,11350,건영3,8,10,84.9000,7,,직거래,23.08.17,26.0,2769.0

In [12]:
# 오피스텔 제외

In [13]:
# url 및 인증키
url = 'http://apis.data.go.kr/1613000/AptListService2/getSidoAptList'
my_key = 'llq52qzkz50yrlY5SsJxmKw7Zg4caD1W/JKpE3NRt9H0vVFY2estk8VXb6dduPvSbsOpVqyZeuWqAmW5jGJl4A=='

In [14]:
si_code_list = data['법정동시군구코드'].str[:2].unique()
si_code_list = list(si_code_list)

In [15]:
apartment_list = []
pageNo = 1

for si_code in si_code_list:
    while True:
        params = {'ServiceKey' : my_key, 'pageNo' : str(pageNo), 'numOfRows' : '10', 'sidoCode' : si_code}
        response = requests.get(url, params = params)
        soup = BS(response.text, 'xml')
        
        if len(soup.find_all('item')) == 0:
            break
            
        for item in soup.find_all('item'):
            record = []
            record.append(item.find('kaptCode').text)
            record.append(item.find('kaptName').text)
            record.append(item.find('as1').text)
            record.append(item.find('as2').text)
            record.append(item.find('as3').text)
            record.append(item.find('bjdCode').text)
            apartment_list.append(record)
        pageNo += 1

In [16]:
apartment_list = pd.DataFrame(apartment_list, columns = ['단지코드', '단지명', '시도', '시군구', '읍면동', '법정동코드'])

In [17]:
apartment_list

           단지코드            단지명     시도   시군구     읍면동       법정동코드
0     A15303103           시흥성지  서울특별시   금천구     시흥동  1154510300
1     A13527007       도곡1차아이파크  서울특별시   강남구     도곡동  1168011800
2     A15886402   신정대성유니드아파트2차  서울특별시   양천구     신정동  1147010100
3     A13986111  중계라이프신동아청구아파트  서울특별시   노원구     중계동  1135010600
4     A13923106      하계2차현대아파트  서울특별시   노원구     하계동  1135010400
...         ...            ...    ...   ...     ...         ...
2982  A10024490     여의도더리브스타일   서울특별시  영등포구  영등포동1가  1156010200
2983  A10023281        광장 유진스웰  서울특별시   광진구     광장동  1121510400
2984  A10025101     성수 대명루첸아파트  서울특별시   성동구   성수동2가  1120011500
2985  A10024974   신촌숲 아이파크 아파트  서울특별시   마포구     신수동  1144011100
2986  A10024813         롯데캐슬노블  서울특별시   강남구     역삼동  1168010100

[2987 rows x 6 columns]

In [22]:
kaptCode_list = list(apartment_list['단지코드'])

In [19]:
# 국토교통부_공동주택 기본 정보제공 서비스
# url 및 인증키
url = 'http://apis.data.go.kr/1613000/AptBasisInfoService1/getAphusBassInfo'
my_key = 'llq52qzkz50yrlY5SsJxmKw7Zg4caD1W/JKpE3NRt9H0vVFY2estk8VXb6dduPvSbsOpVqyZeuWqAmW5jGJl4A=='

In [38]:
apartmentBase_list = []

for kaptCode in kaptCode_list:
    params = {'ServiceKey' : my_key, 'kaptCode' : kaptCode}
    response = requests.get(url, params = params)
    soup = BS(response.text, 'xml')
        
    for item in soup.find_all('item'):
        record = []
        record.append(item.find('kaptCode').text)
        record.append(item.find('kaptName').text)
        record.append(item.find('kaptAddr').text)
        record.append(item.find('kaptTarea').text)
        record.append(item.find('kaptdaCnt').text)
        record.append(item.find('kaptBcompany').text)
        record.append(item.find('kaptAcompany').text)
        record.append(item.find('kaptMarea').text)
        record.append(item.find('kaptMparea_60').text)
        record.append(item.find('kaptMparea_85').text)
        record.append(item.find('kaptMparea_135').text)
        record.append(item.find('kaptMparea_136').text)
        record.append(item.find('privArea').text)
        record.append(item.find('bjdCode').text)
        apartmentBase_list.append(record)

In [41]:
apartmentBase_list = pd.DataFrame(apartmentBase_list, columns = ['단지코드', '단지명', '법정동주소', '건축물대장상 연면적', '세대수', '시공사', '시행사', '관리비부과면적', '전용면적별  세대현황(60)', '전용면적별 세대현황(85)', '전용면적별 세대현황(135)', '전용면적별 세대현황(136)', '대장 전용면적합계', '법정동코드'])

In [42]:
apartmentBase_list

,단지코드,단지명,법정동주소,건축물대장상 연면적,세대수,시공사,시행사,관리비부과면적,전용면적별 세대현황(60),전용면적별 세대현황(85),전용면적별 세대현황(135),전용면적별 세대현황(136),대장 전용면적합계,법정동코드
0,A13986111,중계라이프신동아청구아파트,서울특별시 노원구 중계동 366 중계라이프신동아청구아파트,149833.22,960,(주)청구(주)라이프(주)신동아,(주)청구(주)라이프(주)신동아,131868,0,0,960,0,109893.56,1135010600
1,A15721003,마곡신안,서울특별시 강서구 마곡동 422 마곡신안,27840,253,신안건설,신안건설,24379,135,88,30,0,18770.14,1150010500
2,A15081001,래미안당산1차아파트,서울특별시 영등포구 당산동 374 래미안당산1차아파트,43332.396,348,삼성건설,삼성건설,37752.8,128,144,76,0,28638.76,1156011700
3,A15303202,관악벽산2단지,서울특별시 금천구 시흥동 1010 관악벽산2단지,30202.27,564,벽산건설(주),SH공사,30190.92,564,0,0,0,18442.8,1154510300
4,A13202308,방학삼익세라믹,서울특별시 도봉구 방학동 274 방학삼익세라믹,41276.72,476,.,.,40049.52,280,196,0,0,30561.44,1132010600
5,A15780703,가양대림경동,서울특별시 강서구 가양동 1474 가양대림경동,97179,540,"대림건설, 경동건설","대림건설, 경동건설",70740,0,0,540,0,70956,1150010400
6,A15106101,봉천은천1단지,서울특별시 관악구 봉천동 1707 봉천은천1단지,28876,180,자유종합건설(주),SH공사,15247.08,0,180,0,0,15247.08,1162010100
7,A15681502,사당우성2단지,서울특별시 동작구 사당동 105 사당우성2단지,121345.404,1080,우성건설,사당4-2공구 재개발 조합,120922.3005,405,285,390,0,91614.75,1159010700
8,A12185606,마포신촌삼익아파트,서울특별시 마포구 신수동 450 마포신촌삼익아파트,47624.76,391,(주)삼익주택,(주)삼익주택,40276.68,183,160,48,0,30027.19,1144011100
9,A13772801,서초현대아파트,서울특별시 서초구 서초동 1648-2 서초현대아파트,44202.45,299,고려산업개발(주),고려산업개발(주),30367.0081,120,105,74,0,23750.52,1165010800
10,A13276414,방학신동아3단지,서울특별시 도봉구 방학동 530 방학신동아3단지,23131.73,210,신동아건설,신동아건설,17821.02,0,210,0,0,17821.02,1132010600
11,A15772901,등촌우성101동,서울특별시 강서구 등촌동 630-11 등촌우성101동,12915.75,134,우성건설,,12495,8,126,0,0,8814.08,1150010200
12,A13550701,삼성동중앙하이츠빌리지,서울특별시 강남구 삼성동 14-1 삼성동중앙하이츠빌리지,63733,298,중앙건설,중앙건설,42856.189,60,90,0,148,33866.26,1168010500
13,A13812002,마천금호,서울특별시 송파구 마천동 304 마천금호,25233,199,금호산업,지하철공사직장조합외연합주택조합,17473.6881,100,99,0,0,14373.4,1171011400
14,A12010103,홍은풍림2차,서울특별시 서대문구 홍은동 453-2 홍은풍림2차,39447.02,390,풍림산업,풍림산업,36141.97,203,157,30,0,27166.95,1141011800
15,A13522003,수서삼익,서울특별시 강남구 수서동 708 수서삼익,57520.92,645,삼익건설,도시개발,57520.665,495,150,0,0,40428,1168011500
16,A15721001,마곡금호어울림,서울특별시 강서구 마곡동 717 마곡금호어울림,20397.62,180,금호건설,금호산업,20397.54,0,150,30,0,15799.86,1150010500
17,A12282201,경향파크아파트,서울특별시 은평구 구산동 162-1 경향파크아파트,21424.16,171,인황건설,인황건설,20459.55,0,129,42,0,16094.57,1138010500
18,A13176902,신내9단지임대,서울특별시 중랑구 신내동 657 신내9단지임대,19849.63,335,진흥기업(주),서울주택도시공사,19682.6,335,0,0,0,13346.4,1126010600
19,A13527003,우성캐릭터199 아파트,서울특별시 강남구 도곡동 467-24 우성캐릭터199 아파트,100496.73,199,(주)우성건설,(주)우성건설,46170.06,0,0,99,100,29658.06,1168011800
20,A15807004,신정이펜하우스4단지,서울특별시 양천구 신정동 1317 신정이펜하우스4단지,79821.82,546,SH공사,SH공사,53856.03,223,287,36,0,41024.98,1147010100
21,A14321001,광장11현대홈타운,서울특별시 광진구 광장동 579 광장11현대홈타운,27590.14,159,현대건설,광장11차현대지역주택조합,17363.57,0,159,0,0,13505.46,1121510400
22,A13003404,답십리우성그린,서울특별시 동대문구 답십리동 989-1 답십리우성그린,59039.5,496,우성건설,우성건설,51177.32,121,375,0,0,39018.38,1123010500
23,A13527005,현대비전21,서울특별시 강남구 도곡동 467-19 현대비전21,42432.05,232,ㅁ,ㅁ,16604.08,232,0,0,0,7899.14,1168011800
24,A13407204,명일신동아,서울특별시 강동구 명일동 44 명일신동아,77635.37,570,신동아건설,신동아건설,75780,0,120,450,0,64434.9,1174010100
25,A15701004,우장산한화꿈에그린,서울특별시 강서구 화곡동 1151 우장산한화꿈에그린,35306.52,187,한화건설,신부산업개발(주),23107.98,0,92,95,0,19102.61,1150010300
26,A14003103,이촌현대,서울특별시 용산구 이촌동 301-160 이촌현대,92195.29,653,현대건설,현대건설,92195.29,0,5,370,278,83361.61,1117012900
27,A14003104,이촌동삼성리버스위트,서울특별시 용산구 이촌동 426 이촌동삼성리버스위트,68371.07,244,삼성물산(주),청탑.한신재건축조합,47339.248,0,0,80,164,39044.72,1117012900
28,A15603002,브라운스톤상도,서울특별시 동작구 상도동 527 브라운스톤상도,58340.28,415,이수건설,상도이수지역주택조합,40979.42,110,305,0,0,32498.01,1159010200
29,A12103006,대우메트로디오빌,서울특별시 마포구 신공덕동 167 대우메트로디오빌,18206.84,242,대우건설,마포 1-47 지구 재개발조합,18206.84,228,14,0,0,8696.92,1144010300
30,A13527002,도곡현대그린,서울특별시 강남구 도곡동 964 도곡현대그린,21843,171,현대산업개발,공업진흥청주택조합,21056.769,0,171,0,0,14518.56,1168011800
31,A13184804,묵동신도1차,서울특별시 중랑구 묵동 167 묵동신도1차,29612,221,신도종합건설,수정연립재건축조합,21278.36,89,88,44,0,17617.49,1126010400
32,A14272303,한일유앤아이,서울특별시 강북구 미아동 1355 한일유앤아이,63154.719,384,한일건설(주),한일건설(주),37144.474,0,251,133,0,37144.474,1130510100
33,A15181602,낙성대현대,서울특별시 관악구 봉천동 179-58 낙성대현대,30142,251,현대건설(주),현대건설(주),30141.62,0,161,0,90,23497.11,1162010100
34,A15303002,시흥벽산1단지,서울특별시 금천구 시흥동 1010 시흥벽산1단지,266394.41,1772,벽산건설,시흥2-1구역 주택재개발조합,210739.44,328,616,828,0,167101.68,1154510300
35,A13887405,풍납 현대리버빌1차,서울특별시 송파구 풍납동 260 풍납 현대리버빌1차,82390.4463,557,현대건설(주),풍납동 제1지구 재건축 조합,61601.55,277,127,45,108,48459.45,1171010300
36,A13009001,휘경동양1.2차,서울특별시 동대문구 휘경동 115 휘경동양1.2차,698653.457,490,동양메이져(주),동양메이져(주),52771.9809,161,227,102,0,40113.019,1123010900
37,A13920106,상계극동늘푸른,서울특별시 노원구 상계동 1128 상계극동늘푸른,35140.352,299,극동건설,극동건설,29244.35,137,162,0,0,21905.514,1135010500
38,A15805404,"목동대원칸타빌2,3단지","서울특별시 양천구 목동 941 목동대원칸타빌2,3단지",81567.64,511,(주)대원,조합,46976.53,9,387,94,21,46976.53,1147010200
39,A13684701,정릉중앙하이츠,서울특별시 성북구 정릉동 809 정릉중앙하이츠,27769.95,261,중앙건설(주),정릉주공재건축아파트조합,26211.12,135,90,36,0,19712.04,1129013300
40,A13811203,거여4단지,서울특별시 송파구 거여동 293 거여4단지,43710.8,546,삼익주택(주),서울시 도시개발공사,40584.55,546,0,0,0,27346.75,1171011300
41,A15601102,신대방경남교수,서울특별시 동작구 신대방동 710 신대방경남교수,49639,295,경남기업,재건축조합,36338.2,0,165,130,0,28826,1159010900
42,A13922001,중계청암3단지,서울특별시 노원구 중계동 582 중계청암3단지,25133.35,180,요진건설,SH공사,19333.8,0,180,0,0,15226.181,1135010600
43,A15009606,문래베어스타운,서울특별시 영등포구 문래동6가 38-1 문래베어스타운,38179.36,304,상부종합건설(주),상부종합건설(주),29504.11,123,181,0,0,22738.21,1156012400
44,A13510203,청담래미안,서울특별시 강남구 청담동 42 청담래미안,36812.13,217,삼성물산(주),삼성물산(주),26625.44,51,58,108,0,20645.75,1168010400
45,A14070901,동부센트레빌아스테리움서울,서울특별시 용산구 동자동 45 동부센트레빌아스테리움서울,107031.48,278,동부건설,동자동 제4구역 도시환경조합,88753.9,0,0,116,162,40513.68,1117010700
46,A15010303,양평동삼천리아파트,서울특별시 영등포구 양평동3가 24 양평동삼천리아파트,25883.52,179,삼천리,삼천리,19604.4937,54,90,35,0,15199.64,1156012700
47,A13612001,상월곡우남,서울특별시 성북구 상월곡동 55-56 상월곡우남,31232.85,225,우남주택,우남주택,25709.0916,95,74,32,24,19308.82,1129013700
48,A13201201,도봉현대성우,서울특별시 도봉구 도봉동 642 도봉현대성우,26963,190,성우종합건설(주),도봉재건축주택조합,20038.95,86,68,36,0,14979.2,1132010800
49,A13527203,도곡렉슬,서울특별시 강남구 도곡동 527 도곡렉슬,553661.398,3002,"현대,쌍용,GS",도곡주공재건축조합,379722.41,601,936,1402,63,298679.464,1168011800
50,A13676103,신동아파밀리에,서울특별시 성북구 석관동 408 신동아파밀리에,33369.53,199,신동아건설,석관제3구역,22517.22,34,128,37,0,17169.04,1129013900
51,A13821004,송파파인타운7단지,서울특별시 송파구 장지동 844 송파파인타운7단지,68286.133,537,극동건설,sh,34608,300,237,0,0,35108.58,1171010900
52,A15786314,염창태영송화,서울특별시 강서구 염창동 270-1 염창태영송화,38657.235,277,태영건설(주),성원재건축조합,28867.28,142,81,54,0,21604.56,1150010100
53,A41279922,은평뉴타운제각말5단지제2,서울특별시 은평구 진관동 155 은평뉴타운제각말5단지제2,34381.43,175,대우건설(주),SH공사,23155.95,0,48,127,0,18293.04,1138011400
54,A14019001,후암미주,서울특별시 용산구 후암동 423-1 후암미주,16909.62,226,라이프주택,라이프주택,14238,0,226,0,0,14228.28,1117010100
55,A13790929,신반포한신2차,서울특별시 서초구 잠원동 73 신반포한신2차,163131.408,1572,한신공영(주),한신공영(주),163131.408,0,624,696,252,151684.2,1165010600
56,A13204501,창동대동,서울특별시 도봉구 창동 811 창동대동,25064.08,188,(주)대동,창5동재건축주택조합,19882.38,76,74,38,0,14993.24,1132010700
57,A10027775,신내의료안심주택,서울특별시 중랑구 신내동 314-25 신내의료안심주택,13099.58,222,SD종합건설,SH공사,5535.57,222,0,0,0,5535.57,1126010600
58,A10026881,서울역센트럴자이아파트,서울특별시 중구 만리동2가 273 서울역센트럴자이아파트,186287.56,1341,GS건설주식회사,만리제2지구재개발 정비사업주택조합,125964.2864,641,681,19,0,91296.81,1114017400
59,A13122002,상봉프레미어스엠코,서울특별시 중랑구 상봉동 500 상봉프레미어스엠코,106914.1,497,현대엠코(주),현대엠코(주),73633.31,41,68,382,6,50920.99,1126010200