In [1]:
# 모듈 불러오기
import PublicDataReader as pdr
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
from datetime import datetime

# 법정동코드

In [169]:
# 법정동 코드 
lawd_cd = pdr.code_bdong()

# 서울특별시만 추출r
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
from datetime import datetime
lawd_cd_seoul = lawd_cd[lawd_cd['시도명'] == '서울특별시']

# 서울특별시 내 법정동코드 추출
lawd_cd_seoul_list = lawd_cd_seoul['시도코드'].unique()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2023. 7. 3. 시행)

In [170]:
# 컬럼명 확인하기
lawd_cd_seoul.columns

Index(['시도코드', '시도명', '시군구코드', '시군구명', '법정동코드', '읍면동명', '동리명', '생성일자', '말소일자'], dtype='object')

In [171]:
# 상위 N행 살펴보기
lawd_cd_seoul.head()

  시도코드    시도명  시군구코드 시군구명       법정동코드 읍면동명 동리명      생성일자 말소일자
0   11  서울특별시  11000       1100000000           19880423
1   11  서울특별시  11110  종로구  1111000000           19880423
2   11  서울특별시  11110  종로구  1111010100  청운동      19880423
3   11  서울특별시  11110  종로구  1111010200  신교동      19880423
4   11  서울특별시  11110  종로구  1111010300  궁정동      19880423

In [172]:
# (행, 열) 크기를 확인하기
lawd_cd_seoul.shape

(1112, 9)

In [173]:
# 정보 확인하기
lawd_cd_seoul.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1112 entries, 0 to 1111
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도코드    1112 non-null   object
 1   시도명     1112 non-null   object
 2   시군구코드   1112 non-null   object
 3   시군구명    1112 non-null   object
 4   법정동코드   1112 non-null   object
 5   읍면동명    1112 non-null   object
 6   동리명     1112 non-null   object
 7   생성일자    1112 non-null   object
 8   말소일자    1112 non-null   object
dtypes: object(9)
memory usage: 86.9+ KB

In [174]:
# 시군구명, 읍면동명 빈값 제외
lawd_cd_seoul = lawd_cd_seoul[lawd_cd_seoul['시군구명'] != '']
lawd_cd_seoul = lawd_cd_seoul[lawd_cd_seoul['읍면동명'] != '']

In [175]:
# 말소일자가 없는 경우만 추출
lawd_cd_seoul = lawd_cd_seoul[lawd_cd_seoul['말소일자'] == '']

In [178]:
# 상위 N행 살펴보기
lawd_cd_seoul.head()

  시도코드    시도명  시군구코드 시군구명       법정동코드 읍면동명 동리명      생성일자 말소일자
2   11  서울특별시  11110  종로구  1111010100  청운동      19880423
3   11  서울특별시  11110  종로구  1111010200  신교동      19880423
4   11  서울특별시  11110  종로구  1111010300  궁정동      19880423
5   11  서울특별시  11110  종로구  1111010400  효자동      19880423
6   11  서울특별시  11110  종로구  1111010500  창성동      19880423

In [176]:
# (행, 열) 크기를 확인하기
lawd_cd_seoul.shape

(467, 9)

In [177]:
# 정보 확인하기
lawd_cd_seoul.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 2 to 1111
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도코드    467 non-null    object
 1   시도명     467 non-null    object
 2   시군구코드   467 non-null    object
 3   시군구명    467 non-null    object
 4   법정동코드   467 non-null    object
 5   읍면동명    467 non-null    object
 6   동리명     467 non-null    object
 7   생성일자    467 non-null    object
 8   말소일자    467 non-null    object
dtypes: object(9)
memory usage: 36.5+ KB

In [179]:
# 시군구명 개수 확인
len(lawd_cd_seoul['시군구명'].unique())

25

In [180]:
# 읍면동명 개수 확인
len(lawd_cd_seoul['읍면동명'].unique())

465

# 공동주택 단지 목록 api

In [132]:
# url 및 인증키
url = 'http://apis.data.go.kr/1613000/AptListService2/getSidoAptList'
my_key = 'llq52qzkz50yrlY5SsJxmKw7Zg4caD1W/JKpE3NRt9H0vVFY2estk8VXb6dduPvSbsOpVqyZeuWqAmW5jGJl4A=='

In [133]:
# 시도코드 리스트
si_code_list = list(pd.Series(lawd_cd_seoul_list).str[:2].unique())

In [135]:
apartment_list = []
pageNo = 1

for si_code in si_code_list:
    while True:
        params = {'ServiceKey' : my_key, 'pageNo' : str(pageNo), 'numOfRows' : '10', 'sidoCode' : si_code}
        response = requests.get(url, params = params)
        soup = BS(response.text, 'xml')
        
        if len(soup.find_all('item')) == 0:
            break
            
        for item in soup.find_all('item'):
            record = []
            record.append(item.find('as1').text)
            record.append(item.find('as2').text)
            record.append(item.find('as3').text)
            record.append(item.find('bjdCode').text)
            record.append(item.find('kaptCode').text)
            record.append(item.find('kaptName').text)
            
            apartment_list.append(record)
        pageNo += 1
        
apartment_list = pd.DataFrame(apartment_list, columns = ['시도', '시군구', '읍면동', '법정동코드', '단지코드', '단지명'])

In [181]:
# 컬럼명 확인하기
apartment_list.columns

Index(['시도', '시군구', '읍면동', '법정동코드', '단지코드', '단지명'], dtype='object')

In [137]:
# 상위 N행 살펴보기
apartment_list.head()

      시도  시군구  읍면동       법정동코드       단지코드            단지명
0  서울특별시  금천구  시흥동  1154510300  A15303103           시흥성지
1  서울특별시  강남구  도곡동  1168011800  A13527007       도곡1차아이파크
2  서울특별시  양천구  신정동  1147010100  A15886402   신정대성유니드아파트2차
3  서울특별시  노원구  중계동  1135010600  A13986111  중계라이프신동아청구아파트
4  서울특별시  노원구  하계동  1135010400  A13923106      하계2차현대아파트

In [182]:
# (행, 열) 크기를 확인하기
apartment_list.shape

(2988, 6)

In [183]:
# 정보 확인하기
apartment_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2988 entries, 0 to 2987
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      2988 non-null   object
 1   시군구     2988 non-null   object
 2   읍면동     2988 non-null   object
 3   법정동코드   2988 non-null   object
 4   단지코드    2988 non-null   object
 5   단지명     2988 non-null   object
dtypes: object(6)
memory usage: 140.2+ KB

In [185]:
# 시군구명 개수 확인
len(apartment_list['시군구'].unique())

25

In [186]:
# 시군구명 개수 확인
len(apartment_list['읍면동'].unique())

276

In [197]:
# 서울시 내 아파트 단지 개수
apartment_list['단지명'].count()

2988

In [187]:
# 시군구별 아파트 단지 개수
apartment_list.groupby('시군구').count()[['시도']]

       시도
시군구
강남구   213
강동구   120
강북구    47
강서구   186
관악구    77
광진구    82
구로구   150
금천구    48
노원구   218
도봉구   111
동대문구  108
동작구   123
마포구   129
서대문구   89
서초구   178
성동구   114
성북구   134
송파구   156
양천구   133
영등포구  165
용산구    79
은평구   138
종로구    31
중구     46
중랑구   113

In [194]:
# 시군구, 읍면동별 아파트 단지 개수
apartment_list.groupby(['시군구', '읍면동']).count()[['시도']]

         시도
시군구 읍면동
강남구 개포동  19
    논현동  15
    대치동  25
    도곡동  29
    삼성동  23
...      ..
중랑구 면목동  34
    묵동   20
    상봉동  11
    신내동  29
    중화동   5

[278 rows x 1 columns]

In [ ]:
# csv 파일 내려받기
apartment_list.to_csv('서울시 아파트 리스트.csv', index = False)

# 공동주택 기본 정보 api

In [ ]:
# 국토교통부_공동주택 기본 정보제공 서비스
# url 및 인증키
url = 'http://apis.data.go.kr/1613000/AptBasisInfoService1/getAphusBassInfo'
my_key = 'llq52qzkz50yrlY5SsJxmKw7Zg4caD1W/JKpE3NRt9H0vVFY2estk8VXb6dduPvSbsOpVqyZeuWqAmW5jGJl4A=='

In [ ]:
kaptCode_list = list(apartment_list['단지코드'])

In [ ]:
apartmentBase_list = []

for kaptCode in kaptCode_list:
    params = {'ServiceKey' : my_key, 'kaptCode' : kaptCode}
    response = requests.get(url, params = params)
    soup = BS(response.text, 'xml')
        
    for item in soup.find_all('item'):
        record = []
        record.append(item.find('kaptCode').text)
        record.append(item.find('kaptName').text)
        record.append(item.find('kaptAddr').text)
        record.append(item.find('kaptTarea').text)
        record.append(item.find('kaptdaCnt').text)
        record.append(item.find('kaptBcompany').text)
        record.append(item.find('kaptAcompany').text)
        record.append(item.find('kaptMarea').text)
        record.append(item.find('kaptMparea_60').text)
        record.append(item.find('kaptMparea_85').text)
        record.append(item.find('kaptMparea_135').text)
        record.append(item.find('kaptMparea_136').text)
        record.append(item.find('privArea').text)
        record.append(item.find('bjdCode').text)
        apartmentBase_list.append(record)
        
apartmentBase_list = pd.DataFrame(apartmentBase_list, columns = ['단지코드', '단지명', '법정동주소', '건축물대장상 연면적', '세대수', '시공사', '시행사', '관리비부과면적', '전용면적별  세대현황(60)', '전용면적별 세대현황(85)', '전용면적별 세대현황(135)', '전용면적별 세대현황(136)', '대장 전용면적합계', '법정동코드'])

# 아파트매매 실거래 상세

In [3]:
# url 및 인증키
url = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev'
my_key = 'llq52qzkz50yrlY5SsJxmKw7Zg4caD1W/JKpE3NRt9H0vVFY2estk8VXb6dduPvSbsOpVqyZeuWqAmW5jGJl4A=='

In [4]:
# 연월 구하기
now = datetime.now()
YMD = now.strftime('%Y%m')

In [5]:
YMD = '202308'

In [6]:
data = []
pageNo = 1

for lawd_cd in lawd_cd_seoul_list:
    while True:
        params = {'ServiceKey' : my_key, 'pageNo' : str(pageNo), 'numOfRows' : '10', 'LAWD_CD' : lawd_cd, 'DEAL_YMD' : YMD}
        response = requests.get(url, params = params)
        soup = BS(response.text, 'xml')
        
        if len(soup.find_all('item')) == 0:
            break
            
        for item in soup.find_all('item'):
            record = []
            record.append(item.find('거래금액').text)
            record.append(item.find('건축년도').text)
            record.append(item.find('년').text)
            record.append(item.find('법정동').text)
            record.append(item.find('법정동시군구코드').text)
            record.append(item.find('아파트').text)
            record.append(item.find('월').text)
            record.append(item.find('일').text)
            record.append(item.find('전용면적').text)
            record.append(item.find('층').text)
            record.append(item.find('해제여부').text)
            record.append(item.find('거래유형').text)
            record.append(item.find('등기일자').text)
            data.append(record)
        pageNo += 1

In [7]:
data = pd.DataFrame(data, columns = ['거래금액', '건축년도', '년', '법정동', '법정동시군구코드', '아파트', '월', '일', '전용면적', '층', '해제여부', '거래유형', '등기일자'])

In [8]:
data['거래금액'] = data['거래금액'].str.lstrip().str.replace(',','').astype(int)
data[['년', '월', '일']] = data[['년','월', '일']].astype(int)
data['전용면적'] = data['전용면적'].astype(float)

In [9]:
data['평수'] = round(data['전용면적'] / 3.305,0)

In [10]:
data['평당가'] = round(data['거래금액'] / data['평수'],0)

In [11]:
# 데이터 제외

# 1. 해제된 실거래가 정보 제외
data = data[data['해제여부'] != 'O']

# 2. 등기일자가 등록되지 않은 실거래가 정보 제외
data = data[data['등기일자'] != ' ']

In [30]:
data.head()

,거래금액,건축년도,년,법정동,법정동시군구코드,아파트,월,일,전용면적,층,해제여부,거래유형,등기일자,평수,평당가
7,14500,2014,2023,숭인동,11110,삼전솔하임4차,8,12,15.0900,17,,중개거래,23.08.14,5.0,2900.0
12,185000,2017,2023,평동,11110,경희궁자이(3단지),8,16,84.8359,4,,중개거래,23.08.29,26.0,7115.0
32,18000,2016,2023,신당동,11140,신당역솔하임,8,29,14.0800,17,,중개거래,23.08.29,4.0,4500.0
34,161000,2014,2023,흥인동,11140,청계천두산위브더제니스,8,7,147.3212,29,,중개거래,23.08.14,45.0,3578.0
43,149800,2017,2023,만리동2가,11140,서울역센트럴자이,8,25,84.9720,7,,중개거래,23.08.31,26.0,5762.0