# 여러 달 불러오는 코드 샘플
data = []
year = 2020
month = 1

while True:
    print(year, month)
    if (year == 2023) and (month == 7):
        break
        
    YMD = str(year) + str(month).zfill(2)
    pageNo = 1
    while True:
        params = {'ServiceKey' : my_key, 'pageNo' : str(pageNo), 'numOfRows' : '10', 'LAWD_CD' : '11440', 'DEAL_YMD' : YMD}
        response = requests.get(url, params = params)
        soup = BS(response.text, 'xml')
        if len(soup.find_all('item')) == 0:
            break
            
        for item in soup.find_all('item'):
            record = []
            record.append(item.find('거래금액').text)
            record.append(item.find('아파트').text)
            record.append(item.find('년').text)
            record.append(item.find('월').text)
            record.append(item.find('전용면적').text)
        
            data.append(record)
        pageNo += 1
    
    if month == 12:
        year += 1
        month = 1
    
    else:
        month += 1

In [1]:
# 모듈 불러오기
import PublicDataReader as pdr
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
from datetime import datetime

In [2]:
# 법정동 코드 
lawd_cd = pdr.code_bdong()

# 서울특별시만 추출r
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
from datetime import datetime
lawd_cd_seoul = lawd_cd[lawd_cd['시도명'] == '서울특별시']

# 서울특별시 내 법정동코드 추출
lawd_cd_seoul_list = lawd_cd_seoul['법정동코드'].str[:5].unique()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2023. 7. 3. 시행)

In [3]:
# url 및 인증키
url = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev'
my_key = 'llq52qzkz50yrlY5SsJxmKw7Zg4caD1W/JKpE3NRt9H0vVFY2estk8VXb6dduPvSbsOpVqyZeuWqAmW5jGJl4A=='

In [4]:
# 연월 구하기
now = datetime.now()
YMD = now.strftime('%Y%m')

In [5]:
YMD = '202308'

In [6]:
data = []
pageNo = 1

for lawd_cd in lawd_cd_seoul_list:
    while True:
        params = {'ServiceKey' : my_key, 'pageNo' : str(pageNo), 'numOfRows' : '10', 'LAWD_CD' : lawd_cd, 'DEAL_YMD' : YMD}
        response = requests.get(url, params = params)
        soup = BS(response.text, 'xml')
        
        if len(soup.find_all('item')) == 0:
            break
            
        for item in soup.find_all('item'):
            record = []
            record.append(item.find('거래금액').text)
            record.append(item.find('건축년도').text)
            record.append(item.find('년').text)
            record.append(item.find('법정동').text)
            record.append(item.find('아파트').text)
            record.append(item.find('월').text)
            record.append(item.find('일').text)
            record.append(item.find('전용면적').text)
            record.append(item.find('층').text)
            record.append(item.find('해제여부').text)
            record.append(item.find('거래유형').text)
            record.append(item.find('등기일자').text)
            data.append(record)
        pageNo += 1

In [7]:
data = pd.DataFrame(data, columns = ['거래금액', '건축년도', '년', '법정동', '아파트', '월', '일', '전용면적', '층', '해제여부', '거래유형', '등기일자'])

In [8]:
data['거래금액'] = data['거래금액'].str.lstrip().str.replace(',','').astype(int)
data[['년', '월', '일']] = data[['년','월', '일']].astype(int)
data['전용면적'] = data['전용면적'].astype(float)

In [9]:
data['평수'] = round(data['전용면적'] / 3.305,0)

In [10]:
data['평당가'] = round(data['거래금액'] / data['평수'],0)

In [11]:
# 데이터 제외

# 1. 해제된 실거래가 정보 제외
data = data[data['해제여부'] != 'O']

# 2. 등기일자가 등록되지 않은 실거래가 정보 제외
data = data[data['등기일자'] != ' ']

In [12]:
data.head()

,거래금액,건축년도,년,법정동,아파트,월,일,전용면적,층,해제여부,거래유형,등기일자,평수,평당가
7,14500,2014,2023,숭인동,삼전솔하임4차,8,12,15.0900,17,,중개거래,23.08.14,5.0,2900.0
12,185000,2017,2023,평동,경희궁자이(3단지),8,16,84.8359,4,,중개거래,23.08.29,26.0,7115.0
32,18000,2016,2023,신당동,신당역솔하임,8,29,14.0800,17,,중개거래,23.08.29,4.0,4500.0
34,161000,2014,2023,흥인동,청계천두산위브더제니스,8,7,147.3212,29,,중개거래,23.08.14,45.0,3578.0
43,149800,2017,2023,만리동2가,서울역센트럴자이,8,25,84.9720,7,,중개거래,23.08.31,26.0,5762.0